<div class="box">
  <link rel="stylesheet" href="/css/comunicazioni.css">
  <link rel="stylesheet" href="/css/carousel.css">
  
  <div class="bottom">
    <div class="comm-div" id="comm-div"></div>
  </div>

  <script src="/js/carousel.js"></script>
</div>