<div class="box">
  <link rel="stylesheet" href="/css/comunicazioni.css">
  <link re="stylesheet" href="/css/carousel.css">
  <div>
    <div class="bottom" id="comm-div"></div>
  </div>
  <script src="/js/carousel.js"></script>
</div>