<div class="navbar">
    <link rel="stylesheet" href="/css/navbar.css">

    <div class="navbar-brand">
        <a href="/">
        <h1>StreetWise</h1>
        </a>
    </div>
    <div>
        <input type="text" id="search-city" value="Trento">
    </div>
    <div class="navbar-actions">
        <div id="NavigateBtn">
            <% if ( typeof user !== 'undefined' && user ) { %>
                <% if ( typeof currPath !== 'undefined' && currPath && currPath === '/admin' ) { %>
                    <a href="/dashboard" class="login-btn">Dashboard</a>
                <% } else if ( typeof currPath !== 'undefined' && currPath && currPath === '/delegati' ) { %>
                    <a href="/dashboard" class="login-btn">Dashboard</a>
                <% } else { %>
                    <% if (user.role === 'admin') { %>
                        <a href="/admin" class="login-btn">Pannello Admin</a>
                    <% } else if (user.role === 'delegato') { %>
                        <a href="/delegati" class="login-btn">Pannello Delegati</a>
                    <% } %>
                <% } %>
            <% } else { %>
                <% if (typeof currPath !== 'undefined' && currPath && currPath === '/segnala') { %>
                    <a href="/" class="login-btn">Indietro</a>
                <% } else { %>
                    <a href="/segnala" class="login-btn">Segnala</a>
                <% } %>
            <% } %>
        </div>
        <div id="LoggerBtn">
            <% if ( typeof user !== 'undefined' && user ) { %>
              <a href="/logout" class="login-btn">Logout</a>
            <% } else { %>
                <button class="login-btn" id="loginToggleBtn">Login</button>
                <div id="login-dropdown" class="login-dropdown hidden">
                    <form id="loginForm" action="/api/auth/login-form" method="POST">
                    <input type="email" name="email" id="login-email" placeholder="📧 Email" required />
                    <input type="password" name="password" id="login-password" placeholder="🔒 Password" required />
                    <button type="submit">Accedi</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>

    <script src="/js/navbar.js"></script>
</div>