#toast-container {
    position: fixed;
    top: 45vh;
    right: 45vw;
    z-index: 1000;
}

.toast {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    opacity: 0;
}

.toast-invisible {
    z-index: 0;
    opacity: 0;
}

.toast-success {
    background-color: #4CAF50;
}

.toast-error {
    background-color: #f44336;
}

.toast-warning {
    background-color: #ff9800;
}

.toast-info {
    background-color: #2196F3;
}