<!DOCTYPE html>
<html>
<head>
  <title>StreetWise</title>
  <link rel="stylesheet" href="/css/style.css">
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />
</head>
<body>
  <div class="navbar">
    <button class="login-btn">LOGIN</button>
    <div id="login-dropdown" class="login-dropdown hidden">
      <form id="loginForm">
        <input type="email" id="login-email" placeholder="Email" required /><br>
        <input type="password" id="login-password" placeholder="Password" required /><br>
        <button type="submit">Accedi</button>
      </form>
  </div>
    </div>
  </div>
  <div class="container">
    <div class="sidebar">
      <h3>Filtri</h3>
      <ul>
        <li>
          <input type="checkbox" id="filter1" name="filter1">
          <label for="filter1">Mostra Strade</label>
        </li>
        <li>
          <input type="checkbox" id="filter2" name="filter2">
          <label for="filter2">Mostra Incidenti</label>
        </li>
        <li>
          <input type="checkbox" id="filter3" name="filter3">
          <label for="filter3">Filtro 3</label>
        </li>
      </ul>
    </div>
    <div class="wide">
      <div class="map-container center">
        <div id="leaflet-map"></div>
        <canvas class="map" id="map-canvas"></canvas>
      </div>
      </div>
  </div>
  <div class="bottom">Comunicazioni</div>

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />   
  <script type="module" src="/js/config.js"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4.js"></script>
  <script type="module" src="/js/map-common.js"></script>
  <script type="module" src="/js/map-strade.js"></script>
  <script type="module" src="/js/map-incidenti.js"></script>
  <script src="/js/login.js"></script>
  
</body>
</html>