<!DOCTYPE html>
<html>
<head>
  <title>My Map App</title>
  <link rel="stylesheet" href="/css/style.css">
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  />
</head>
<body>
  <div class="navbar">navbar <button class="login-btn">login</button></div>
  <div class="container">
    <div class="sidebar">
      <h3>Filtri</h3>
      <ul>
        <li>
          <input type="checkbox" id="filtroTratti" name="filtroTratti">
          <label for="filtroTratti">Mostra Strade</label>
        </li>
        <li>
          <input type="checkbox" id="filtroIncidenti" name="filtroIncidenti">
          <label for="filtroIncidenti">Mostra Incidenti</label>
        </li>
        <li>
          <input type="checkbox" id="filter3" name="filter3">
          <label for="filter3">Filtro 3</label>
        </li>
      </ul>
    </div>
    <div class="wide">
      <div class="map-container center">
        <div id="leaflet-map"></div>
      </div>
      </div>
  </div>
  <div class="bottom">Comunicazioni</div>

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />   
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4.js"></script> 
  
  <script src="/js/map/utils.js"></script>
  <script src="/js/map/draw-tratti.js"></script>
  <script src="/js/map/draw-incidenti.js"></script>
  <script src="/js/map/canvas-overlay.js"></script>
  <script src="/js/map/map-loader.js"></script>
  <script src="/js/map/main.js"></script>

</body>
</html>